#date {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: 100;
  padding-bottom: 0.5rem;
}

#clock {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 4.75rem;
  font-weight: 100;
  padding-bottom: 0.5rem;
}

.view {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 0 auto;
  font-weight: 100;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.add {
  background: none;
  width: 1.5rem;
  font-size: 1.25rem;
  border-radius: 100%;
  margin-left: 10px;
  transition: background 0.5s;
  padding: 0 0.4rem;
}
.add:hover {
  background: rgba(43, 129, 185, 0.76);
}

.delete {
  background: none;
  width: 1rem;
  font-size: 0.9rem;
  border-radius: 100%;
  margin: 0;
  transition: background 0.5s;
  padding: 0 0.4rem;
}

/* Make this look nicer later */
.delete:hover {
  /* background: rgba(90, 90, 90, 0.329); */
  background: rgba(43, 129, 185, 0.76);
}

/* =========================================== */
/* DAY VIEW */
/* =========================================== */

#today {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.dayTitle {
  text-align: center;
}

.dayDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dayDetails ul {
  margin: 0 auto;
  list-style-type: none;
  width: 62.5%;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  padding: 0;
}

.dayDetails ul li {
  background: rgba(21, 115, 170, 0.63);
  transition: background 0.5s;
  color: white;
  height: 1rem;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 1rem;
}

.dayDetails ul li:hover {
  background: rgba(24, 127, 187, 0.993);
  cursor: pointer;
}

/* =========================================== */
/* =========================================== */

/* =========================================== */
/* WEEK VIEW */
/* =========================================== */
#week {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  backface-visibility: hidden;
}

.weekday {
  border: 0.5px solid rgba(32, 32, 32, 0.555);
  min-height: 14rem;
  width: 11.75rem;
  background: rgba(0, 0, 0, 0);
  border-radius: 25px 25px 10px 10px;
  padding: 0.5rem 0rem;
  transition: transform 0.5s;
  transform: translateZ(0);
}

.weekday:hover {
  transform: translateY(-2.5%);
}

.weekDate {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.weekTitle {
  /* background: rgb(233, 230, 230); */
  /* background: rgb(24, 127, 187) ; */
  padding: 0.25rem;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  font-weight: 100;
  border-radius: 25px 25px 0 0;
}

/* This should be a set height and should just scroll when there are many entries */
.details ul {
  list-style-type: none;
  /* overflow: scroll; */
  padding: 0;
  /* max-height: 95%; */
}

.details ul li {
  background: rgba(21, 115, 170, 0.63);
  transition: background 0.5s;
  color: white;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 0.9rem;
  height: 1rem;
}

.details ul li:hover {
  background: rgba(24, 127, 187, 0.993);
  cursor: pointer;
}

.newItem {
  border: none;
  width: 90%;
  float: left;
  background: none;
  color: white;
  text-overflow: ellipsis;
  text-align: center;
}

.newItem:focus {
  border: none;
  outline: none;
}

/* =========================================== */
/* =========================================== */

/* =========================================== */
/* MONTH VIEW */
/* =========================================== */

#month {
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  flex-direction: column;
  justify-content: center;
}

.month {
  border: 0.5px solid rgba(32, 32, 32, 0.555);
  width: 95%;
  background: rgba(0, 0, 0, 0);
  border-radius: 25px 25px 10px 10px;
  /* display: flex; */
  margin: 0 auto;
  flex-wrap: wrap;
}

.monthTitle {
  text-align: center;
}

.monthDay {
  width: 9.75rem;
  height: 15rem;
  padding: 0.75rem;
  float: left;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s;
}

/* .monthDay:hover { */
  /* background: rgba(102, 101, 101, 0.623); */
/* } */

/* =========================================== */
/* =========================================== */
