html {
  overflow-y: scroll;
}

body {
  color: white;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 300;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 100;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
  letter-spacing: 0.15rem;
}

h3 {
  margin: 0;
  font-weight: 300;
}

a {
  color: white;
}

::-moz-selection {
  background: rgba(90, 90, 90, 0.329);
}

::selection {
  background: rgba(90, 90, 90, 0.329);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@-webkit-keyframes grow {
  from {
    width: 10%;
  }
  to {
    width: 85%;
  }
}

@keyframes grow {
  from {
    width: 10%;
  }
  to {
    width: 85%;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  width: 100%;
  margin: 1rem auto;
}

main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
}

button:hover {
  cursor: pointer;
}

#nav {
  list-style-type: none;
  top: 0;
  height: 3rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

#nav li {
  float: left;
  display: block;
}

#app-info {
  padding: 0.5rem 1rem 0;
  display: -ms-grid;
  display: grid;
  font-size: 1.5rem;
}

#app-info #app-title {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  display: inline-block;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  color: white;
}

#app-info #app-title .app-icon {
  width: 35px;
  height: 35px;
}

#app-info #app-title .app-sub {
  display: inline-block;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-shadow: 0 0 15px black;
  -webkit-transform: translateY(-25%);
          transform: translateY(-25%);
}

#app-info #app-items {
  display: none;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#app-info #app-items div {
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  font-size: 60%;
  padding: 0.5rem;
  cursor: pointer;
  display: inline-block;
}

#app-info #app-items div:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#background-info {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

#background-info #background-location {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  opacity: 0.75;
  font-size: 1rem;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

#background-info #background-source {
  font-size: 1rem;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

#background-info #background-source #download {
  margin-left: 0.5rem;
  color: white;
}

#background-info #background-link {
  position: relative;
  text-decoration: none;
  color: white;
}

#date {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: 100;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

#clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-size: 4rem;
  font-weight: 100;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

#view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 15%;
  margin: 0.5rem auto;
  font-weight: 100;
}

#view .view-btn {
  background: rgba(90, 90, 90, 0.329);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#view .view-btn:hover {
  background: rgba(43, 42, 42, 0.329);
}

.entry:hover {
  background: rgba(24, 127, 187, 0.993);
  cursor: pointer;
}

.add {
  background: none;
  width: 1.5rem;
  font-size: 1.25rem;
  border-radius: 100%;
  opacity: 0;
  -webkit-transition: background 0.5s, opacity 0.5s;
  transition: background 0.5s, opacity 0.5s;
  padding: 0 0.4rem;
}

.add:hover {
  background: rgba(43, 129, 185, 0.76);
}

.add:focus {
  background: rgba(43, 129, 185, 0.76);
}

.edit {
  background: none;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.edit:hover {
  background: rgba(38, 96, 134, 0.76);
}

.delete {
  background: none;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  border-radius: 100%;
  margin-left: 5px;
  padding: 0 0.5rem;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.delete:hover {
  background: rgba(38, 96, 134, 0.76);
}

.check {
  text-align: center;
  width: 27px;
  height: 25px;
  font-size: 0.9rem;
  border-radius: 100%;
  margin-left: 5px;
  padding: 0 0.5rem;
  background: none;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.check:hover {
  background: rgba(38, 96, 134, 0.76);
}

.details {
  overflow: auto;
  height: 14rem;
}

.details ul {
  list-style-type: none;
  padding: 0;
}

.details ul li {
  width: 85%;
  text-align: center;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  -ms-touch-action: none;
      touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(21, 115, 170, 0.63);
  -webkit-transition: background 0.5s, height 0.25s;
  transition: background 0.5s, height 0.25s;
  color: white;
  margin: 0.25rem auto;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 0.9rem;
  height: 1rem;
}

@media (max-width: 760px) {
  .details ul li {
    width: 80%;
  }
}

.newItem {
  border: none;
  width: 85%;
  float: left;
  background: none;
  color: white;
  text-overflow: ellipsis;
  text-align: center;
}

.newItem:focus {
  border: none;
  outline: none;
}

.title {
  font-size: 2rem;
  width: 17.5rem;
  font-weight: 100;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  margin: 0 1rem;
  text-align: center;
}

.dayTitle {
  font-size: 2rem;
  width: 17.5rem;
  font-weight: 100;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  border-radius: 75px;
  margin: 0 1rem;
  text-align: center;
}

.arrow {
  font-size: 1.5rem;
  background: rgba(43, 42, 42, 0.329);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.arrow:hover {
  background: rgba(90, 90, 90, 0.329);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

.gear {
  position: fixed;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
  font-size: 30px;
  margin-right: 1rem;
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gear:hover {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}

/* DAY VIEW */
/* =========================================== */
#daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 0 auto;
}

#daily .dayDiv {
  padding: 1rem 2rem;
  border: 0.5px solid rgba(32, 32, 32, 0.555);
  border-radius: 25px 25px 10px 10px;
  background: rgba(0, 0, 0, 0.15);
}

/* =========================================== */
/* WEEK VIEW */
/* =========================================== */
#week {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#week .weekdayNames {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[7];
      grid-template-columns: repeat(7, minmax(50px, 1fr));
  width: 98%;
  margin: 0 auto;
}

#week .weekdays {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[7];
      grid-template-columns: repeat(7, minmax(50px, 1fr));
  width: 98%;
  margin: 0 auto;
}

#week .weekday {
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  height: 15rem;
  padding: 0.75rem;
  border: 1px solid rgba(32, 32, 32, 0.555);
  background: rgba(0, 0, 0, 0.15);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#week .weekday .weekDetails {
  overflow: auto;
  height: 14rem;
}

#week .weekday .weekDetails ul {
  list-style-type: none;
  padding: 0;
}

#week .weekday .weekDetails ul li {
  width: 85%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  border: none;
  background: rgba(21, 115, 170, 0.63);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  color: white;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 0.9rem;
  height: 1rem;
}

#week .weekday .weekDetails ul li:hover {
  background: rgba(24, 127, 187, 0.993);
  cursor: pointer;
}

#week .weekday .weekDate {
  font-weight: 0;
  border-radius: 12px;
  margin-bottom: 0.25rem;
  width: 20px;
  height: 20px;
  min-width: 16px;
  text-align: center;
}

@media (max-width: 760px) {
  #week .weekday .weekdayNames {
    font-size: 0.75rem;
  }
}

#week .weekday:hover {
  -webkit-transform: translateY(-1.5%);
          transform: translateY(-1.5%);
}

/* MONTH VIEW */
/* =========================================== */
#month {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#month .weekdayNames {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[7];
      grid-template-columns: repeat(7, minmax(50px, 1fr));
  width: 98%;
  margin: 0 auto;
}

#month .monthDays {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[7];
      grid-template-columns: repeat(7, minmax(50px, 1fr));
  width: 98%;
  margin: 0 auto;
}

#month .monthDays .monthDay {
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  height: 13rem;
  padding: 0.75rem;
  border: 0.5px solid rgba(32, 32, 32, 0.555);
  float: left;
  background: rgba(0, 0, 0, 0.15);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#month .monthDays .monthDay .monthDayTitle {
  font-weight: 0;
  border-radius: 12px;
  margin-bottom: 0.25rem;
  width: 20px;
  height: 20px;
  min-width: 16px;
  text-align: center;
}

#month .monthDays .monthDay .monthDetails {
  overflow: auto;
  height: 12rem;
}

#month .monthDays .monthDay .monthDetails ul {
  list-style-type: none;
  padding: 0;
}

#month .monthDays .monthDay .monthDetails ul li {
  width: 85%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  border: none;
  background: rgba(21, 115, 170, 0.63);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  color: white;
  margin-bottom: 0.25rem;
  padding: 0.5rem;
  border-radius: 25px;
  font-size: 0.9rem;
  height: 1rem;
}

#month .monthDays .monthDay .monthDetails ul li:hover {
  background: rgba(24, 127, 187, 0.993);
  cursor: pointer;
}

/* =========================================== */
/*# sourceMappingURL=calendar-style.css.map */