// STYLE VARIABLES
// ===================
$title-fontsize: 2rem;
$title-width: 17.5rem;
$title-fontweight: 100;
$border-color: rgba(32, 32, 32, 0.555);
$day-background: rgba(0, 0, 0, 0.15);

$tool-hover: rgba(38, 96, 134, 0.76);
// ===================

// HTML ELEMENT STYLING
// ===================
html {
  max-width: 100vw;
}

body {
  color: white;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 300;
}

h3 {
  margin: 0;
  font-weight: 300;
}

a {
  color: white;
}

::selection {
  background: rgba(90, 90, 90, 0.329);
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// ANIMATIONS
// ===============
@keyframes grow {
  from {
    width: 10%;
  }
  to {
    width: 85%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// ===============

main {
  width: 100%;
  margin: 1rem auto;
  section {
    display: flex;
    justify-content: center;
    width: 100%;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

button {
  outline: none;
  border: none;
  // background: rgba(90, 90, 90, 0.329);
  // transition: background 0.5s;
  padding: 0.5rem 1rem;
  color: white;
}

button:hover {
  // background: rgba(90, 90, 90, 0.747);
  cursor: pointer;
}
// ====================

// MAIN DIVS
// ====================
#nav {
  list-style-type: none;
  top: 0;
  height: 3rem;
  width: 100%;
  margin: 0;
  padding: 0;
  li {
    float: left;
    display: block;
    text-align: center;
  }

  .app-title {
    padding: 0 1rem;
    // text-emphasis: none;
    // text-decoration: none;
    color: white;
    font-weight: 200;
    letter-spacing: 0.1rem;
    font-size: 2rem;
  }
  #site-box {
    padding: 0;
    position: relative;
    display: inline-block;
    .topSites-title {
      transition: 0.5s background;
      font-size: 1rem;
      padding: 1rem;
    }

    .topSites-title:hover {
      background: rgba(90, 90, 90, 0.329);
    }

    .topSites {
      display: none;
      position: absolute;
      min-width: 160px;
      overflow: auto;
      right: 0;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      .site {
        transition: 0.5s background;
        display: block;
        text-decoration: none;
        font-size: 1rem;
        color: white;
        /* z-index: 999; */
      }
      .site:hover {
        background: rgba(90, 90, 90, 0.329);
      }
    }
  }
}

#date {
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: 100;
  // padding-bottom: 0.5rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

#clock {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 4.75rem;
  font-weight: 100;
  // padding-bottom: 0.5rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

#view {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 0.5rem auto;
  font-weight: 100;
  .view-btn {
    background: rgba(90, 90, 90, 0.329);
    transition: background 0.5s;
  }
  .view-btn:hover {
    background: rgba(43, 42, 42, 0.329);
  }
}

#background-info {
  padding: 1rem;
  display: grid;
  #background-location {
    grid-column: 1;
    grid-row: 1;
    opacity: 0.75;
    font-size: 1rem;
    transition: 0.5s opacity;
  }
  #background-source {
    font-size: 1rem;
    grid-column: 1;
    grid-row: 1;
    opacity: 0;
    transition: 0.5s opacity;
  }

  #background-link {
    position: relative;
    text-decoration: none;
    color: white;
  }
}

// ====================

// Main Classes
// ====================

// .entry {
//   width: 85%;
//   // Update v1.0.0.9
//   text-align: center;
//   white-space: nowrap;
//   display: block;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   border: none;
//   touch-action: none;
//   user-select: none;
//   //
//   background: rgba(21, 115, 170, 0.63);
//   transition: background 0.5s, height 0.25s;
//   color: white;
//   margin: 0.25rem auto;
//   padding: 0.5rem;
//   border-radius: 25px;
//   font-size: 0.9rem;
//   height: 1rem;
// }
.entry:hover {
  background: rgba(24, 127, 187, 0.993);
  cursor: pointer;
}

.add {
  background: none;
  // position: relative;
  // left: 40%;
  width: 1.5rem;
  font-size: 1.25rem;
  border-radius: 100%;
  opacity: 0;
  // margin-left: 1rem;
  transition: background 0.5s, opacity 0.5s;
  padding: 0 0.4rem;
}
.add:hover {
  background: rgba(43, 129, 185, 0.76);
}
.add:focus {
  background: rgba(43, 129, 185, 0.76);
}

.edit {
  background: none;
  transition: background 0.5s;
}
.edit:hover {
  background: $tool-hover;
}

.delete {
  background: none;
  // float: left;
  text-align: center;
  width: 25px;
  height: 25px;
  font-size: 0.9rem;
  border-radius: 100%;
  margin-left: 5px;
  padding: 0 0.5rem;
  // opacity: 0;
  transition: background 0.5s;
}

.delete:hover {
  background: $tool-hover;
}

.check {
  text-align: center;
  width: 27px;
  height: 25px;
  font-size: 0.9rem;
  border-radius: 100%;
  margin-left: 5px;
  padding: 0 0.5rem;
  background: none;
  transition: background 0.5s;
}

.check:hover {
  background: $tool-hover;
}

// DETAILS

.details {
  overflow: auto;
  height: 15rem;
  // text-decoration: line-through\;

  ul {
    list-style-type: none;
    padding: 0;
    li {
      width: 85%;
      // Update v1.0.0.9
      text-align: center;
      white-space: nowrap;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      border: none;
      touch-action: none;
      user-select: none;
      //
      background: rgba(21, 115, 170, 0.63);
      transition: background 0.5s, height 0.25s;
      color: white;
      margin: 0.25rem auto;
      padding: 0.5rem;
      border-radius: 25px;
      font-size: 0.9rem;
      height: 1rem;
    }
    @media (max-width: 760px) {
      li {
        width: 80%;
      }
    }
  }
}

.newItem {
  border: none;
  width: 85%;
  float: left;
  background: none;
  color: white;
  text-overflow: ellipsis;
  text-align: center;
}

.newItem:focus {
  border: none;
  outline: none;
}

.title {
  font-size: $title-fontsize;
  width: $title-width;
  font-weight: $title-fontweight;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  margin: 0 1rem;
  text-align: center;
}

.dayTitle {
  font-size: $title-fontsize;
  width: $title-width;
  font-weight: $title-fontweight;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  border-radius: 75px;
  margin: 0 1rem;
  text-align: center;
}

.arrow {
  font-size: 1.5rem;
  // background: none;
  background: rgba(43, 42, 42, 0.329);
  transition: background 0.5s;
}

.arrow:hover {
  background: rgba(90, 90, 90, 0.329);

  // background: rgba(29, 28, 28, 0.555);
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

// ====================

/* DAY VIEW */
/* =========================================== */

#daily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5px solid rgba(32, 32, 32, 0.555);
  border-radius: 25px 25px 10px 10px;
  background: $day-background;
  width: 50%;
  padding: 1rem 2rem;
  margin: 0 auto;
}

/* =========================================== */

/* WEEK VIEW */
/* =========================================== */
#week {
  //   backface-visibility: hidden;

  .weekday {
    border: 1px solid $border-color;
    //   border: 0.5px solid rgba(32, 32, 32, 0.555);
    padding: 0.75rem;
    height: 19rem;
    width: 14%;
    //   width: 11.75rem;
    background: $day-background;
    // background: rgba(0, 0, 0, 0.15);
    border-radius: 25px 25px 10px 10px;
    // padding: 0.5rem 0rem;
    transform: translateZ(0);
    transition: transform 0.5s;

    .weekDate {
      color: white;
      width: 5rem;
      border-radius: 1rem;
      margin: 0 auto;
      font-size: 1.5rem;
      text-align: center;
    }
    .weekTitle {
      padding: 0.25rem;
      color: white;
      text-align: center;
      font-size: 1.5rem;
      letter-spacing: 0.25rem;
      font-weight: 100;
      border-radius: 25px 25px 0 0;
    }

    @media (max-width: 760px) {
      .weekTitle {
        font-size: 0.75rem;
      }
    }
  }

  .weekday:hover {
    transform: translateY(-1.5%);
  }
}

/* MONTH VIEW */
/* =========================================== */

#month {
  flex-direction: column;
  justify-content: center;
  .monthDays {
    // width: 95%;
    background: rgba(0, 0, 0, 0);
    margin: 0 auto;
    flex-wrap: wrap;
    .monthDay {
      text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
      width: 10.25rem;
      height: 14rem;
      padding: 0.75rem;
      border: 0.5px solid $border-color;
      float: left;
      background: $day-background;

      // background: rgba(0, 0, 0, 0);
      transition: background 0.5s;
      .monthDayTitle {
        font-weight: 0;
        border-radius: 50%;
        margin-bottom: 0.75rem;
        width: 0.75rem;
        padding: 0 0.4rem;  
        // font-size: 1.25rem;
        // text-align: center;
      }
      .monthDetails {
        overflow: auto;
        height: 13rem;
        ul {
          list-style-type: none;
          padding: 0;
          li {
            width: 85%;
            // V 1.0.0.9
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            border: none;
            // float: left;

            //
            background: rgba(21, 115, 170, 0.63);
            transition: background 0.5s;
            color: white;
            margin: 0.25rem;
            padding: 0.5rem;
            border-radius: 25px;
            font-size: 0.9rem;
            height: 1rem;
          }
          li:hover {
            background: rgba(24, 127, 187, 0.993);
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* =========================================== */
