body {
  width: 300px;
  height: 350px;
  margin: 0;
}

.page-title {
  font-size: 20px;
  font-weight: 200;
}

.container {
  margin: 10px;
}

/* The switch - the box around the slider */
#photoURL {
  width: 95%;
  outline: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}

.update-details {
  overflow: auto;
}

.signup-text {
  font-weight: 200;
}

.term-link {
  color: #757575;
  text-decoration: underline;
}

.social-btn {
  width: 100%;
  border: 1px solid #9e9e9e;
  cursor: pointer;
  margin: 0px auto 8px;
  outline: none;
  min-height: 42px;
  border-radius: 3px;
  background-color: #ffffff;
}

.social-btn .social-text {
  font-size: 16px;
  margin-top: 2px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 10px;
}

#orContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 0px 10px;
}

#orContainer .orBar {
  width: 44%;
  height: 1px;
  margin-top: 10px;
  background-color: #bdbdbd;
}

#orContainer .or {
  color: #9e9e9e;
  width: 12%;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.email-btn-container {
  margin: 5px auto 0;
}

.email-btn-container .email-btn {
  border-color: #1197d4;
  background-color: #1197d4;
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  height: 40px;
  outline: none;
  padding: 0px 16px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.email-btn-container .email-btn .btn-content-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email-btn-container .email-btn .btn-content-container .email-btn-icon {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.email-btn-container .email-btn .btn-content-container .email-btn-text {
  font-size: 14px;
  color: white;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  overflow: hidden;
  font-style: normal;
  font-family: SuisseIntl, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  white-space: nowrap;
  font-stretch: normal;
  text-overflow: ellipsis;
  letter-spacing: normal;
  text-shadow: none !important;
  text-transform: none !important;
}

.login {
  color: #212121;
  font-size: 14px;
  margin-top: 16px;
  text-align: left;
}

.login .login-btn {
  font: inherit;
  color: #3d68fb;
  border: none;
  cursor: pointer;
  outline: inherit;
  padding: 0px;
  background: none;
  text-decoration: underline;
}

#popup-links {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

#popup-links .active-popup {
  border-bottom: 5px solid #1197d4;
}

#popup-links li {
  display: block;
  width: calc(100% / 3);
  height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  list-style-type: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#popup-links li a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=popup-style.css.map */