/* This style page is reserved for stylings that would apply to the entire */

body {
    /* background: rgb(233, 230, 230); */
    /* background: rgb(14, 71, 104); */ 
    /* background: url('../images//test1\(960x549\).jpg'); */
    background: url('../images/test2\(1136x649\).jpg');
    
    /* background: url('../images/rain.gif'); */
    background-size: cover;
    background-repeat: no-repeat;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-attachment: fixed;

    /* overflow-y: overlay; */
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: none;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.5rem;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0.5rem 0;
    font-weight: 100;
}
/* ======================== */
           /* NAV */
/* ======================== */

nav {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    /* padding: 0.25rem; */
    /* background: rgb(24, 127, 187); */
    /* color: white; */
    /* border: 1px solid black; */
    font-size: 1.5rem;
}

.title {
    text-emphasis: none;
    text-decoration: none;
    color: white;
    font-weight: 200;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    margin-left:1rem;
    transition: letter-spacing 0.5s;
}

.title:hover {
    letter-spacing: 0.5rem;
}


nav ul {
    float: right;
    list-style-type: none;
    margin: 0 1.5rem 0 0;
    padding: 0;    

}

.nav-items {
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.nav-item {
    /* display: inline; */
    float: left;
}

.nav-item a {
    display: block;
    padding: 11px 16px;
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    letter-spacing: 0.1rem;
    transition: letter-spacing 0.5s;
    /* transition: transform 0.25s */
}

.nav-item a:hover {
    /* transform: translateY(-10%) */
    letter-spacing: 0.25rem;
}

/* ======================== */
/* MAIN */
/* ======================== */

main {
    width: 100%;
    margin: 1rem auto;
    /* display: none; */
}

button {
    outline: none;
    border:none;
    /* background: teal; */
    /* background: rgb(24, 127, 187); */
    background: rgba(90, 90, 90, 0.329);
    transition: background 0.5s;
    padding: 0.5rem 1rem;
    color: white;
    margin-bottom: 1rem;
}

button:hover {
    /* background: rgb(1, 88, 88);\ */
    /* background: rgb(21, 112, 165); */
    background: rgba(90, 90, 90, 0.747);
    /* padding: 0.75rem 1.25rem; */
    cursor: pointer;
}

.container {

}

.row {
    display: flex;
    width: 100%;
}

.col {

}

