html {
    height: 0px !important;
  }
  body {
    width: 300px;
    height: 250px;
    margin: 0;
  }
  #app {
    height: 100%;
  }
  .blue {
    background-color: #1197d4 !important;
  }
  .main {
    height: 100%;
  }
  .container {
    margin: 10px 10px 0px 10px;
    height: 100%;
    overflow: auto;
    &::-webkit-scrollbar {
      width: 3px;
      height: 2px;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }
  
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .page-title {
      margin: 0;
      font-size: 20px;
      font-weight: 200;
    }
  }
  .popup_nav {
    display: flex;
    color: white;
    background-color: rgb(14, 108, 151);
    // justify-content: space-around;
  }
  .popup_nav > h3 {
    cursor: pointer;
    margin: 0;
    flex: 2;
    text-align: center;
    padding: 1em;
    background-color: rgb(14, 108, 151);
    transition: background-color 0.5s;
  }
  .popup_nav > h3:hover {
    background: rgb(19, 138, 193);
  }