.main_button {
  margin: 5px;
  padding: 10px;
  color: white;
  outline: none;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

.blue {
  border: 1px solid rgb(14, 108, 151);
  background-color: rgb(14, 108, 151);
  transition: background-color 0.5s, border 0.5s;
  &:hover {
    border: 1px solid white;
    background-color: rgb(19, 128, 179);
  }
}

.orange {
  border: 1px solid rgb(14, 108, 151);
  background-color: rgb(190 87 8);
  transition: background-color 0.5s, border 0.5s;
  &:hover {
    border: 1px solid white;
    background-color: rgb(227, 104, 9);
  }
}
