<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>NSAppTransportSecurity</key>
<dict>
<key>NSAllowsLocalNetworking</key>
<true/>
</dict>
	<key>CLIENT_ID</key>
	<string>926662511983-ht58f315mkfofhpj5cred5oi9h7vtftn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926662511983-ht58f315mkfofhpj5cred5oi9h7vtftn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>926662511983-m0ub62r3qacnplknrvhlmjfbeebkk477.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD5wYWHRyhN94i_6zoNe2AyNy-aFIyIGY</string>
	<key>GCM_SENDER_ID</key>
	<string>926662511983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polus.app</string>
	<key>PROJECT_ID</key>
	<string>polus-cc376</string>
	<key>STORAGE_BUCKET</key>
	<string>polus-cc376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926662511983:ios:f5b6f191946c7c72116c9a</string>
	<key>DATABASE_URL</key>
	<string>https://polus-cc376.firebaseio.com</string>
</dict>
</plist>