#view {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 0.5rem auto;
  font-weight: 100;
  .view_btn {
    background: rgba(90, 90, 90, 0.329);
    transition: background 0.5s;
  }
  .view_btn:hover {
    background: rgba(43, 42, 42, 0.329);
  }
}
