// STYLE VARIABLES
// ===================
$title-fontsize: 2rem;
$title-width: 17.5rem;
$title-fontweight: 100;
$border-color: rgba(32, 32, 32, 0.555);
$day-background: rgba(0, 0, 0, 0.15);

// ===================

// HTML ELEMENT STYLING
// ===================
html {
  overflow-y: scroll;
  backdrop-filter: brightness(90%);
  font-family: "Segoe UI", Tahoma, sans-serif;
  // max-width: 100vw;
}

body {
  color: white;
  margin: 0;
}

h1 {
  margin: 0;
  font-weight: 300;
}

h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 100;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.75);
  letter-spacing: 0.15rem;
}

h3 {
  margin: 0;
  font-weight: 300;
}

a {
  color: white;
}

:focus-visible {
  outline: none;
}
::selection {
  background: rgba(90, 90, 90, 0.329);
}

html {
  /* width */
  &::-webkit-scrollbar {
    width: 3px;
    height: 2px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// ANIMATIONS
// ===============
@keyframes grow {
  from {
    width: 10%;
  }
  to {
    width: 90%;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
// ===============

main {
  display: none;
  width: 100%;
  margin: 1rem auto;
  section {
    display: flex;
    justify-content: center;
    width: 100%;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

button {
  outline: none;
  border: none;
  // transition: background 0.5s;
  padding: 0.5rem 1rem;
  color: white;
}

button:hover {
  // background: rgba(90, 90, 90, 0.747);
  cursor: pointer;
}
// ====================

// MAIN DIVS
// ====================

#view {
  display: flex;
  justify-content: center;
  width: 15%;
  margin: 0.5rem auto;
  font-weight: 100;
  .view-btn {
    background: rgba(90, 90, 90, 0.329);
    transition: background 0.5s;
  }
  .view-btn:hover {
    background: rgba(43, 42, 42, 0.329);
  }
}

// ====================

// Main Classes
// ====================

.hidden {
  display: none !important;
}

.add {
  background: none;
  width: 1.5rem;
  font-size: 1.25rem;
  border-radius: 100%;
  opacity: 0;
  transition: background 0.5s, opacity 0.5s;
  padding: 0 0.4rem;
}
.add:hover {
  background: rgba(43, 129, 185, 0.76);
}
.add:focus {
  background: rgba(43, 129, 185, 0.76);
}

// entry elements

.title {
  font-size: $title-fontsize;
  width: $title-width;
  font-weight: $title-fontweight;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  margin: 0 1rem;
  text-align: center;
}

.dayTitle {
  font-size: $title-fontsize;
  width: $title-width;
  font-weight: $title-fontweight;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  border-radius: 75px;
  margin: 0 1rem;
  text-align: center;
}

.arrow {
  font-size: 1.5rem;
  // background: none;
  background: rgba(43, 42, 42, 0.329);
  transition: background 0.5s;
}

.arrow:hover {
  background: rgba(90, 90, 90, 0.329);
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
}

.gear {
  position: fixed;
  cursor: pointer;
  transition: transform 0.25s;
  font-size: 30px;
  margin-right: 1rem;
  bottom: 0;
  right: 0;
  transform: translateY(0);

  &:hover {
    transform: translateY(-5%);
  }
}

// ====================

/* DAY VIEW */
/* =========================================== */

/* =========================================== */

/* WEEK VIEW */
/* =========================================== */
#ghostie {
  z-index: 1;
  position: relative;
  display: block;
  height: 100px;
  background: none !important;
}

#week {
  //   backface-visibility: hidden;
  flex-direction: column;
  justify-content: center;
  .weekdayNames {
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    width: 98%;
    margin: 0 auto;
  }
  .weekdays {
    display: grid;
    grid-template-columns: repeat(7, minmax(50px, 1fr));
    width: 98%;
    margin: 0 auto;
  }
  .weekday {
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
    height: 15rem;
    padding: 0.75rem;
    border: 1px solid $border-color;
    background: $day-background;

    // NEW
    // position: relative;
    // z-index: 1;

    .weekDetails {
      overflow: auto;
      height: 14rem;

      // new
      // width: 13%;
      // position: absolute;
      z-index: 1;
      ul {
        list-style-type: none;
        padding: 0;

        // NEW
        // display: flex;
        // flex-direction: column;
        // align-items: center;

        li {
          position: relative;
          // z-index: 100;
          width: 90%;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          display: block;
          text-overflow: ellipsis;
          border: none;
          // background: rgba(21, 115, 170, 0.63);
          transition: background 0.5s;
          color: white;
          margin-bottom: 0.25rem;
          padding: 0.5rem;
          border-radius: 25px;
          font-size: 0.9rem;
        }
        li:hover {
          // background: rgba(24, 127, 187, 0.993);
          cursor: pointer;
        }
      }
    }
    .weekDate {
   
    }

    @media (max-width: 760px) {
      .weekdayNames {
        font-size: 0.75rem;
      }
    }
  }

  .weekday:hover {
    // transform: translateY(-1.5%);
  }
}

/* MONTH VIEW */
/* =========================================== */

/* =========================================== */
